
SCRAPPING/scrapping_chamados_facil/chamados.py
SCRAPPING/scrapping_chamados_facil/img/logon.png
SCRAPPING/scrapping_chamados_facil/img/resolucao.png
SCRAPPING/scrapping_chamados_facil/pegar_posicao_mouse.py
SCRAPPING/scrapping_chamados_facil/verifica_imagem.py
CURSOS/Curso_Python_Udemy/Sessão4_Intermediario/.env
CURSOS/Curso_Python_Udemy/Sessão4_Intermediario/mysql_399
AUTOMACOES/CADSUS
AUTOMACOES/SEGUIDORES
CURSOS/Curso_Python_Udemy/Sessão4_Intermediario/aula419_ola_django/static_files
AUTOMACOES

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.env