
SCRAPPING/scrapping_chamados_facil/chamados.py
SCRAPPING/scrapping_chamados_facil/img/logon.png
SCRAPPING/scrapping_chamados_facil/img/resolucao.png
SCRAPPING/scrapping_chamados_facil/pegar_posicao_mouse.py
SCRAPPING/scrapping_chamados_facil/verifica_imagem.py
